<!DOCTYPE html>
<html>
  <head>
    <title>Upstate Properties</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="<%= controller.controller_name %>" class="<% controller.action_name %>">
    <% if @show_sidebar.nil? %>
    <header>
      <%= render "layouts/nav/public" %>
      <%= yield %>
    </header>
    <% else %>
        <%= render "layouts/nav/dashboard" %>

        <div class="container-fluid">
          <div class="row">
            <%= render "layouts/nav/sidebar" %>
              <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4">
              <%= yield %>
          </div>
        </div>
    <% end %>

    <%# <%= render "layouts/footer" %> 
    <div style="display: none" id="notifications"><%= notice %></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
